<div data-section="us">
  <div class="container fh5co-heading">
    <div>
      <h2>Bio</h2>
      <p>
        Louise W. Reed has been a licensed CPA since May 2004, billing in Bitcoin since May 2021. Her interest in blockchain stems from her background in physics, and Afloat, Inc., her high-tech start-up, keeps Louise connected to that constantly-evolving space. She encourages all taxpayers, especially CPAs, to create an account and experience the merging of blockchain and accounting.</p>
    </div>
  </div>
</div>