<div data-section="us">
  <div class="container fh5co-heading">
    <div>
      <h2>The Brief</h2>
      <p>Louise W. Reed has been a licensed CPA since May 2004. She specializes in working with small businesses, especially those using QuickBooks or interested in the cryptocurrency space. In the fall of 2016, the math behind blockchain intrigued Louise, after which she established her first Coinbase account, buying Bitcoin for the first time in February 2017. Since then, she has attended a Bitcoin conference in Austin, Texas and a blockchain conference in Silicon Valley. Having personally invested in cryptocurrencies and blockchain technologies herself, Louise has been asked by several people to be a consultant in that regard. The firm currently accepts all cryptocurrencies supported by CoinBase.com.</p>
    </div>
    <hr>
    <div>
      <h2>Bio</h2>
      <p>Louise W. Reed, CPA An MA in physics evinces Louise's fascination with interconnectivity and understanding of how things work. After graduating from Duke University in 1993, and four years as a day and boarding school coach and educator, she found her way to project management with a premiere software vendor specializing in accounts receivables for physician practices. In 2003 she received her Master of Accounting degree from Chapel Hill's Kenan-Flagler Business School, worked three years in the public accounting sector, and established her own firm in February 2006.</p>
    </div>
  </div>
</div>