<div data-section="us">
  <div class="container fh5co-heading">
    <div>
      <h2>Bio</h2>
      <p>Louise W. Reed, CPA An MA in physics evinces Louise's fascination with interconnectivity and understanding of how things work. After graduating from Duke University in 1993, and four years as a day and boarding school coach and educator, she found her way to project management with a premiere software vendor specializing in accounts receivables for physician practices. In 2003 she received her Master of Accounting degree from Chapel Hill's Kenan-Flagler Business School, worked three years in the public accounting sector, and established her own firm in February 2006.</p>
    </div>
  </div>
</div>